media/readme.png filter=lfs diff=lfs merge=lfs -text
media/github-readme.png filter=lfs diff=lfs merge=lfs -text

media/_archive/**/*.png filter=lfs diff=lfs merge=lfs -text
media/_stash/**/*.png filter=lfs diff=lfs merge=lfs -text
